body {
    background-image: linear-gradient(to bottom right, darkblue, darkgreen);
    overflow: hidden;
    margin: 0;
    position: relative;
    font-family: "Lucida Fax", serif;
}

h1 {
    text-align: center;
    padding: 5px;
    color: darkred;
    border: 2px solid;
    border-radius: 5px;
    background-color: darkorange;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.door {
    flex: 1;
    background-color: cornflowerblue;
    border: 1px solid orangered;
    border-radius: 5px;
    text-align: center;
    padding: 20px;
    margin: 10px ; /* Center horizontally */
    min-width: 10rem;
}

.revealed {
    background-color: orange;
}

.snowflake {
    position: absolute;
    color: #fff;
    font-size: 20px;
    z-index: -1; /* Set a lower z-index to place snowflakes behind other elements */
    pointer-events: none; /* Allows clicks to go through snowflakes to the underlying elements */
    animation: snowfall linear infinite;
}

@keyframes snowfall {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}
